.AllBooksList-container {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  /* box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2); */
  z-index: 10px;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.AllBooksList {
  width: 53rem;
  border-color: 1px;
  background-color: var(--bg-primary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.AllBooksList-see-list{
  grid-column: 6 / span 2;
  color: var(--color-secondary);
  text-decoration: underline;
}

.top-button {
  all: unset;
  background-color: var(--color-tertiary);
  padding-top: 0.25rem;
  text-align: center;
  border-radius: 0 0 15px 15px;
  max-height: 1.25rem;
}

.top-icon{
  height: 1rem;
}