.AllBooksListRow {
  width: 50rem;
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 3fr 2fr 3fr 0.5fr 0.5fr;
  column-gap: 0.7rem;
  align-items: center;
  margin-inline: 2rem;
  padding-block: 0.6rem;
  background-color: var(--bg-primary);
}

.AllBooksListRow-no-cover,
.AllBooksListRow-cover-container {
  display: inline-flex;
  align-items: center;
  text-align: center;
  height: 4.5rem;
  width: 3rem;
  margin-right: 2.5rem;
}

.AllBooksListRow-no-cover {
  background-color: slategray;
  color: black;
  font-size: 0.8rem;
}

.AllBooksListRow-cover-container {
  overflow: hidden;
}

.AllBooksListRow-cover-container img {
}

.AllBooksListRow a:hover {
  cursor: pointer;
}

.AllBooksListRow-genre li {
  font-size: 0.8rem;
  padding: 0;
  list-style: none;

  border-radius: 2rem;
  padding-block: 0.2em;
  padding-inline: 1em;
  margin-bottom: 0.3em;
  margin-right: 0.4em;
}

.AllBooksRow-rating {
  padding-left: 20px;
  color: aquamarine;
}

.AllBooksListRow-title {
  margin-left: 1rem;
}


.AllBooksListRow-options {
  display: flex;
  flex-direction: column; /* Apila los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
}

.AllBooksListRow-icon-wrapper {
  margin-bottom: 4px; /* Añade espacio entre el icono y el texto */
}

.AllBooksListRow-label {
  font-size: 14px; /* Ajusta el tamaño del texto */
  color: #555; /* Cambia el color si es necesario */
  opacity: 0; /* Oculta inicialmente */
  transition: opacity 0.3s ease; /* Transición suave */
}

.AllBooksListRow-options:hover .AllBooksListRow-label {
  opacity: 1; /* Muestra el texto al hacer hover */
}

