.AllBooksListRow {
  width: 50rem;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr 3fr 0.8fr 0.8fr;
  column-gap: 0.7rem;
  align-items: center;
  margin-inline: 1.5rem;
  padding-block: 0.6rem;
  background-color: var(--bg-primary);

  h2{
    margin-left: 0;
  }
}

.AllBooksListRow-cover,
.AllBooksListRow-no-cover{
  height: 4.5rem;
  width: 3.2rem;
}

.AllBooksListRow-cover:hover,
.AllBooksListRow-no-cover:hover{
  transform: scale(3);
  transition-delay: 1s;

  
}

.AllBooksListRow-no-cover{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: slategray;
  color: black;
  font-size: 0.8rem;
}

.AllBooksListRow-cover-container {
  overflow: hidden;
}

.AllBooksListRow a:hover {
  cursor: pointer;
}

.AllBooksListRow-genre li {
  font-size: 0.8rem;
  padding: 0;
  list-style: none;

  padding-block: 0.2em;
  margin-bottom: 0.3em;
  margin-right: 0.4em;
}

.AllBooksListRow-cover,
.AllBooksListRow-no-cover,
.AllBooksListRow-rating {
  justify-self: center;
}


.AllBooksListRow-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8px;
}

.AllBooksListRow-options:hover {
  cursor: pointer;
}

.AllBooksListRow-icon-wrapper {
 display: flex;
 justify-content: center;
 width: 24px;
 height: 24px;
}

.AllBooksListRow-label {
  font-size: 8px; 
  color: #555; 
  opacity: 0;
  transition: opacity 0.3s ease; 
}

.AllBooksListRow-options:hover .AllBooksListRow-label {
  opacity: 1; 
  font-size: 8px;
}
