.ErrorMessage{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.ErrorMessage p{
    font-size: 1.2rem;
}

.ErrorMessage-refresh-button{
    all: unset;
    font-size: 2rem;
}