.PaceCalculator{
    margin-top: 2rem;

    h2{
        margin-bottom: 1rem;
    }
}
.PaceCalculator-text {
    display: flex;
    align-items: center;
}

.PaceCalculator-input{
    text-align: center;
}


/*Quitar las flechas de incrementar y decrementar*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.PaceCalculator-control-minus{
    margin-left: 0.5rem;
}

.PaceCalculator-control-plus{
    margin-right: 0.5rem;
}

.PaceCalculator-warning{
    color: red;
}
