.PaceCalculator{
    margin-top: 2rem;

    h2{
        margin-bottom: 1rem;
    }
}
.PaceCalculator-text {
    display: flex;
    align-items: center;
}

.PaceCalculator-input{
    text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

