.Pagination {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 900px;

    p {
        font-size: 16px;
        color: var(--color-primary);
    }
}

.Pagination-button{
    
}