.Pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 800px;

    p {
        font-size: 14px;
        color: var(--color-primary);
    }
}

.Pagination-forward-back, 
.Pagination-top { 
    all: unset;
    text-align: center;
    line-height: 1.1;
}

.Pagination-forward-back{ 
    padding: 0.5em 0.75em;
    border: 1px solid var(--color-tertiary);
    border-radius: 8px;
    min-width: 10ch;
}

.Pagination-forward-back:hover,
.Pagination-top:hover{
    cursor: pointer;    
}

.Pagination-forward-back:hover{
    background-color: var(--color-secondary);
    color: white;
    
}

.Pagination-forward-back:disabled {
    background-color: lightgray;
    color: grey;
    border: none;
}