* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}

:root {

  --color-primary: #8216a0;
  --color-secondary: #23065e;
  --color-tertiary: #3c3c46;
  --color-extra: #4bc5cc;
  --bg-primary: #ffffff;
  --bg-secondary: #dddde3;
  --text-dark: black;
  --text-bright: white;
  --text-semi-bright: #aeaeb6;
}

h1 {
  color: var(--color-secondary);

}

h2 {
  font-size: 16px;
  color: var(--color-secondary);
}

p {
  font-size: 12px
}

a {
  text-decoration: none;
  color: black
}